* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    color: black;
    background-color: white;
    text-align: center;
    font-size: 0.9rem;

}

#btn {
    position: absolute;
    margin-top: -20vw;
    margin-left: -9vw;
    font-size: 4vw;
    cursor: pointer;
    visibility: hidden;
}